venv
.idea/
PreparedDatasets
TrainedModels

SavedCellDeathData
SavedCellDeathData/data.csv
SavedCellDeathData/DMEM_F12-AA+400uM_FAC&BSO_rmse_results.csv
SavedCellDeathData/FAC&BSO_PEG_rmse_results.csv
SavedCellDeathData/FAC&BSO_rmse_results.csv
*.npy
*.pyc
SavedCellDeathData_06/

Data
AnalyzerModels
AnalyzerModelsTests
not_cropped_images.npy
Data/Pillars/New-06-Airyscan Processing-04-actin_drift_corrected_13.2.tif
Project/multi_config_runner_results/
/multi_config_runner_results/
Project/SavedPillarsData/
Project/*png
Project/*jpg
Project/*svg
Project/*html
Project/*csv
Project/map_vid*
Project/models_builder.py
Project/utils.py
Project/global_parameters.py
